*{
    margin: 0px;
    padding: 0px;
}
.background{
    background-color: rgba(229, 84, 115, 0.10);
    width: 1900px;
    height: 800px;
    display: flex;
    align-content: center;
}

.text{
    padding: 200px;
}

h1{
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.paragraph{
    display: flex;
    width: 630px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 30px;
}

.shop{
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    margin-top: 30px;
    border: 0px;
    color: white;
}

.pickcher{
    width: 635px;
    height: 800px;
    flex-shrink: 0;
}

main{
    text-align: center;
    margin-top: 100px;
    align-items: center;
}

.cade{
    border-radius: 300px 300px 0px 0px;
    background: #A7216226;
    width : 464px;
    height : 538px;
    flex-shrink: 0;
}

.cade1{
    border-radius: 300px 300px 0px 0px;
    background:#0597A026;
    width : 464px;
    height : 538px;
    flex-shrink: 0;

}

.cade2{
    border-radius: 300px 300px 0px 0px;
    background:#477D1126;
    width : 464px;
    height : 538px;
    flex-shrink: 0;
}

.contenar{
    display: flex;
    gap: 40px;
    align-content: center;
    margin-top: 50px;
    margin-left: 200px;
}

.cade-pick{
   margin-top: 110px; 
}

.cade-pick1{
    margin-top: 160px; 
 }

 .cade-pick2{
    margin-top: 68px; 
 }
 
 .cadr-text{
    text-align: center;
    text-align: right;
 }

 .box{
    width: 1400px;
    height: 300px;
    background-color: #2727270D;
    margin: 128px 240px;
    display: flex;
    align-items: center;
    gap: 40px;
 }

 .sub-box{
    margin-left: 175px;
 }

 .hot-deal-bok{
    width: 1920px;
    height: 620px;
    background-color: #E554730D;
    text-align: center;
    display: flex;
 }

 .hot-deal-text{
    padding: 300px;
 }